In [1]:
data()

In [3]:
#Loading the data

data(airquality)

In [8]:
#Return the first 5 observations of dataset

head(airquality,5)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5

In [139]:
#Create numeric list of all 'Months'

m_list <- list(c(unique(airquality[c("Month")])))
m_list <- as.numeric(unlist(m_list))

In [140]:
# a,b : Dynamically created Monthly dataset and then saved into lists.

iter <- 5
air_dataset <- list()
for (i in m_list){
    
    if(i == iter)
        {
        temp_df <- airquality[airquality$Month == iter,]
        air_dataset[[i]]<- temp_df
        iter<-iter+1
    }
    
}

In [141]:
air_dataset[[9]]

    Ozone Solar.R Wind Temp Month Day
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [142]:
# c: Save the list from part B.

save(air_dataset, file = "air_data.RData")